<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">My Journal</a>

    <div class="d-flex ms-auto gap-2">
      <button class="btn btn-success" id="addBtn">+ Add New</button>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

      <a class="btn btn-danger" href="/login/logout">Logout</a>
    </div>
  </div>
</nav>
